<html>
<head></head>
<body style="background-color: #F89471 ">
<div style="border:2px,solid"><section>
    <aside style="width: 100%; background-color: #DAF7A6 ;height: 50px;font-size: 30px;text-align: center;border:2px,solid;font-weight:bold">DIBRUGARH_DISTRICT</aside>
</section>
</div>
<div>

    <table align="left" style="width: 100%;height: 80px;">
        <tr style="background-color: #B0F871  ">
            <th>CIRCLE</th>
            <th>MACHINE</th>
            <th>IP_ADDRESS</th>
            <th>STATUS</th>
        </tr>
        <!-- chabua circle -->
        <tr style="background-color: #F8F071 ">
            <th>CHABUA</th>
            <th>DESKTOP-A
            </th>
            <th>{{ip}}
            </th>
            <th style="background-color:#27AE60;">{{chabua_circle_status_ip1}}
            </th>
        </tr>
        <tr style="background-color: #F8F071 ">
            <th>CHABUA</th>
            <th>DESKTOP-B
            </th>
            <th>{{chabua_circle_ip2}}
            </th>
            <th style="background-color:#27AE60;">{{chabua_circle_status_ip2}}
            </th>
        </tr>
        <tr style="background-color: #F8F071 ">
            <th>CHABUA</th>
            <th>DESKTOP-C
            </th>
            <th>{{chabua_circle_ip3}}
            </th>
            <th style="background-color:#27AE60;">{{chabua_circle_status_ip3}}
            </th>
        </tr>
        <tr style="background-color: #F8F071 ">
            <th>CHABUA</th>
            <th>DESKTOP-D
            </th>
            <th>{{chabua_circle_ip4}}
            </th>
            <th style="background-color:#27AE60;">{{chabua_circle_status_ip4}}
            </th>
        </tr>
        <tr style="background-color: #F8F071 ">
            <th>CHABUA</th>
            <th>DESKTOP-E
            </th>
            <th>{{chabua_circle_ip5}}
            </th>
            <th style="background-color:#27AE60;">{{chabua_circle_status_ip5}}
            </th>
        </tr>
    </table>
</div>
</body>
</html>