<!DOCTYPE html>
<html>
<head>
	<title>welcome</title>
	<meta http-equiv="refresh" content="15">
</head>
<style type="text/css">
table, th, td {
    border: 3px solid black;
border-collapse: collapse;
}

.a{
    position: right;
}
a{
    text-decoration: none;
}
</style>
<body style="background-color: green">
<div style="border:2px,solid"><section>
	<aside style="width: 100%; background-color: #DAF7A6 ;height: 50px;font-size: 30px;text-align: center;border:2px,solid;font-weight:bold">DIBRUGARH_DISTRICT</aside>
</section>
</div>
<div>
	<form>
		<table align="left" style="width: 100%;height: 70%">
			<tr style="width: 100%;height: 70px;background-color: #F87188">
				<th>CIRCLE</th>
				<th>OFFICER</th>
				<th>CHECK_STATUS</th>
			</tr>
			<tr style="width: 100%;height: 50px;background-color: #F2D7D5">
				<th>CHABUA</th>
				<th>BIKASH(SDO)</th>
				<th><a href="{{ url_for('login1') }}">CLICK</a></th>
			</tr>
			<tr style="width: 100%;height: 50px;background-color: #D98880">
				<th>NAHARKATIA</th>
				<th>BIKASH(SDO)</th>
				<th><a href="{{ url_for('login2') }}">CLICK</a></th>
			</tr>
			<tr style="width: 100%;height: 50px;background-color: #5DADE2">
				<th>DIBRUGARH_EAST</th>
				<th>BIKASH(SDO)</th>
				<th><a href="{{ url_for('login3') }}">CLICK</a></th>
			</tr>
			<tr style="width: 100%;height: 50px;background-color: #F9E79F ">
				<th>DIBRUGARH_WEST</th>
				<th>BIKASH(SDO)</th>
				<th><a href="{{ url_for('login4') }}">CLICK</a></th>
			</tr>
			<tr style="width: 100%;height: 50px;background-color: #A6ACAF">
				<th>TINGKHONG_REV</th>
				<th>BIKASH(SDO)</th>
				<th><a href="{{ url_for('login5') }}">CLICK</a></th>
			</tr>
			<tr style="width: 100%;height: 50px;background-color: #D4AC0D">
				<th>MORAN</th>
				<th>BIKASH(SDO)</th>
				<th><a href="{{ url_for('login6') }}">CLICK</a></th>
			</tr>
			<tr style="width: 100%;height: 50px;background-color: #EC7063 ">
				<th>TENGAKHAT</th>
				<th>BIKASH(SDO)</th>
				<th><a href="{{ url_for('login7') }}">CLICK</a></th>
			</tr>
			<tr style="width: 100%;height: 50px;background-color: #CCCCFF">
				<th>DIBRUGARH_WEST_REV_CIRCLE(A)</th>
				<th>BIKASH(SDO)</th>
				<th><a href="{{ url_for('login8') }}">CLICK</a></th>
			</tr>
			<tr style="width: 100%;height: 50px;background-color: #EBF5FB">
				<th>TENGAKHAT_CO(A)</th>
				<th>BIKASH(SDO)</th>
				<th><a href="{{ url_for('login9') }}">CLICK</a></th>
			</tr>
			<tr style="width: 100%;height: 50px;background-color: #FCF3CF">
				<th>NAHARKATIA_REV</th>
				<th>BIKASH(SDO)</th>
				<th><a href="{{ url_for('login10') }}">CLICK</a></th>
			</tr>
			<tr style="width: 100%;height: 50px;background-color: #5DADE2">
				<th>ALLCHECK</th>
				<th>BIKASH(SDO)</th>
				<th><a href="{{ url_for('allip') }}">CLICK</a></th>
			</tr>
		</table>
	</form>
</div>
</body>
</html>